<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      li.complete {
        text-decoration: line-through;
      }
    </style>
  </head>
  <body>
    <ol>
    <% people.forEach(person => { %>
      <% if (person.complete) { %>
        <li class="complete"><%= person.name %></li>
      <% } else { %>
        <li><%= person.name %> <button data-id="<%= person.id %>">Mark Complete</button></li>
      <% } %>
    <% }) %>
    </ol>
  </body>
  <script type="text/javascript">
    const list = document.querySelector('ol');

    function updateList(people) {
      list.innerHTML = '';
      people.forEach(function (person) {
        const btn = `<button data-id="${person.id}">Mark Complete</button>`;
        list.innerHTML += `<li ${person.complete ? 'class="complete"' : ''}>${ person.name } ${!person.complete ? btn : '' }</li>`;
      });
    }

    function markComplete(evt) {
      if (evt.target.tagName === 'BUTTON') {
        let data = new URLSearchParams();
        data.append('id', evt.target.dataset.id);
        fetch('/complete', {
          method: 'post',
          body: data
        }).then(res => {
          res.json().then(data => {
            updateList(data.people);
          });
        });
      }
    }

    setInterval(function () {
      fetch('/api/queue').then(res =>
        res.json().then(data => updateList(data.people))
      );
    }, 1000);

    list.addEventListener('click', markComplete);
  </script>
</html>
